
.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  background-image: url("https://media.istockphoto.com/id/1155947181/vector/fathers-day-card-of-frame-with-paper-holiday-icons.jpg?s=612x612&w=0&k=20&c=eHn2n75DRsK3jFz1wBYs6SW2RCHaE8B09YEjxVJ6qXU=");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-form {
  margin-bottom: 20px;
  float: left;
}

.card-form input,
.card-form textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #1a1212;
  border-radius: 5px;
  box-sizing: border-box;
  color:black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color:white
}

.card {
  background-image: url(https://media.istockphoto.com/id/1181671022/photo/portrait-of-happy-father-hugging-his-daughter.jpg?s=612x612&w=0&k=20&c=Ye4C98X0km4gSsJgKeXIZD1_9dKX0SQD2xDwXOclG0U=);
  width: 300px;
  border: 1px solid #20cd5d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.card h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  margin: 0;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-actions button:hover {
  background-color: #d5bd34;
}

.card-actions button:focus {
  outline: auto;
}

#addButton {
  background-color:black;
  color: white;
  border: none;
}

#searchInput {
  color: #20cd5d;
  background-color: black;
  width: 100%;
  padding: 5px;
}


